<html ng-app="um" ng-controller="MainController as vm">
	<head>
		<title>Connect-Four against Ursa Major</title>
		<link rel="stylesheet" href="./lib/css/um.min.css" />
		<meta charset="utf-8" />
	</head>
	<body>
		<div>
			<table>
				<tbody>
					<tr ng-repeat="r in [5, 4, 3, 2, 1, 0]">
						<td ng-repeat="c in [0, 1, 2, 3, 4, 5, 6]"
								ng-click="vm.make_move(c)">
							<span ng-style="vm.style[c][r]">
								{{ vm.table[c][r] }}
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<button ng-click="vm.undo()" ng-disabled="vm.freeze">Undo</button>
			<button ng-click="vm.umfirst()" ng-if="!vm.freeze && !vm.history.length">Ursa Major First</button>
		</div>
		<div>
			{{ vm.result.message }}
		</div>
		<script src="./lib/js/angular.min.js"></script>
		<script src="./lib/js/angular-aria.min.js"></script>
		<script src="./lib/js/angular-animate.min.js"></script>
		<script src="./lib/js/um.min.js"></script>
	</body>
</html>
